.uploadCsvWrapper{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}
.csv-reader-input{
    width:70%;
}
.admin-wrapper{
   height:1000px
}
.admin-left{
    float:left;
    width:20%;
    height:100%;
}
.admin-right{
    float:right;
    width:80%;
    height:100%;
}
.navigation-wrapper{
    float:left;
    width:100%;
    height:100%;
}
.adminNav{
    height: 1000px;
}
.fillHint{
    color: #FA2A00;
}