html{
  height:100%;
  width:100%;
  overflow-x:hidden;
  margin:0 !important;
  padding:0 !important;
}
body { 
  overflow-x:hidden;
  margin:0 !important;
  min-height: 100%;
  padding:0 !important;
  position:relative;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.btn-primary:hover {
  color: #fff;
  background-color: #1650e0 !important;
  border-color: #154cd4 !important;}


/* .btn-outline-primary {
    color:#4599c7 !important;
    border-color: #4599c7 !important;
}
.btn-outline-primary:hover {
  color: #fff !important;
} */